@import url("https://fonts.googleapis.com/css2?family=Asset&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --sans: "Lato", sans-serif;
  --title: "Asset", cursive;
  --off-black: rgb(15, 15, 15);
  --shine: #144eec;
  --blu: #6d7bf7;
  --night: #9235b8;
  --lot: #ee9520;
  --tuft: #e81276;
  --silver: #757475;
}
@font-face {
  font-family: "Thunder-ExtraBoldLC";
  src: url("fonts/Thunder-ExtraBoldLC.woff2") format("woff2"),
    url("fonts/Thunder-ExtraBoldLC.ttf") format("truetype"),
    url("fonts/Thunder-ExtraBoldLC.woff") format("woff");
}
.App {
  text-align: center;
  font-family: var(--sans);
}
.home-name {
  z-index: -3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vw;
}
#home-title {
  height: 14vw;
  font-family: Thunder-ExtraBoldLC;
  font-size: 14vw;
  letter-spacing: -0.15vw;
}
.home-subtitle {
  font-size: 1.905vw;
  font-weight: 500;
  color: var(--off-black);
  letter-spacing: -0.15vw;
  width: 62vw;
}
#me {
  z-index: -9;
  position: absolute;
  top: 15.8vw;
}
.socials {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 22px;
}
.socials a {
  color: var(--blu);
}
#vert-line {
  position: relative;
  bottom: 20px;
  left: 9px;
  height: 30vh;
  width: 0px;
  border: 1px solid var(--blu);
}
.nav {
  z-index: 10;
  font-size: 11.4px;
  color: var(--off-black);
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 50px;
  font-weight: 600;
  mix-blend-mode: multiply;
  padding: 20px;
  letter-spacing: 2px;
}
#nav-line {
  border: solid 1px var(--shine);
  flex-grow: 0.2;
  margin-left: 50px;
}
.nav-link {
  padding: 10px;
  color: var(--off-black);
}
.nav-link:hover {
  color: black;
  cursor: pointer;
}
.nav-logo {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
}
